
CATALOG_NAME = "projeto_integrador_cors19"
SCHEMA_NAME = "dados_cord19"
VOLUME_BRONZE = "bronze"
VOLUME_SILVER = "silver"
VOLUME_GOLD = "gold"


DATABRICKS_HOST="https://xpto.cloud.com/"
DATABRICKS_TOKEN="api01010101"


KAGGLE_USERNAME = 'usuario'
KAGGLE_KEY = 'chave'

CROSSREF_DATA_PATH = "home/usuario/Downloads/March 2026 Public Data File from Crossref"
OUTPUT_CROSSREF_DIR = "home/usuario/Downloads/kaggle-covid-19-data/extracao-crossref"

OUTPUT_ARTIGOS_BR = "papers_brasileiros.csv"

ENRICHED_DOI_JCR = "enriquecimento_doi_jcr.parquet"

ENRICHED_METADATA_CSV = "metadata_enriched.csv"
ENRICHED_METADATA_TABLE = "metadata_enriched_cleaned"


SILVER_JSON_FOLDER = "json_selecionados"
GOLD_CHUNCK_PARQUET_FILE = "gold_article_chunks.parquet"
GOLD_TABLE_COMPLEMENT = "gold_articles_complement"
GOLD_TABLE_CHUNKS = "gold_articles_chunks"
GOLD_TABLE_EMBEDDINGS = "gold_articles_chunks_embeddings"
GOLD_TABLE_EMBEDDINGS_ABSTRACT_ONLY = "gold_articles_chunks_abstract_only_embeddings"
GOLD_TABLE_EMBEDDINGS_ENRICHED = "gold_articles_chunks_embeddings_enriched"
GOLD_TABLE_EMBEDDINGS_ENRICHED_INDEX = "gold_articles_chunks_embeddings_enriched_index"
GOLD_TABLE_EMBEDDINGS_ENRICHED_VECTOR_COLUMN_NAME = "chunk_text_vector"



EMBEDDING_MODEL_NAME = "all-MiniLM-L6-v2"
EMBEDDING_MODEL_DIMENSION = 384
ENDPOINT_NAME = "vector-search-projeto-integrador"